*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: rgb(12, 12, 70);

}
.app{
  background: rgb(23, 23, 102);
  width: 500px;
  min-height: 700px;
  margin: 40px auto;
}
form input{
  background: rgb(118, 24, 206);
  border: 0;
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}
input::placeholder{
  color: rgb(185, 184, 184);
}
input:focus{
  outline: none;
}
button{
  height: 50px;
  width: 80px;
  margin: 20px;
  border: 0;
  border-radius: 10px;
  background: rgb(106, 117, 3);
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
}
.List{
  color: rgb(223, 221, 221);
  width: 400px;
  background-color: rgb(68, 139, 2);
  height: 50px;
  margin: 20px auto;
  border-radius: 10px;
  font-size: 18px;
}
.List p{
  padding: 10px;
  position: relative;
}
.List p span{
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.iteminput{
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 18px;
  outline: none;
}